In [5]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv("bank.csv")

In [8]:
data.isnull()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11158,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11159,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11160,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11161,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [9]:
data.isnull().sum()

age          2
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      7
day          0
month        0
duration     9
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [10]:
ageofx_mean = data.age.mean()

In [11]:
print(ageofx_mean)

41.233333333333334

In [12]:
data.age.fillna(ageofx_mean,inplace=True)

In [13]:
data.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      7
day          0
month        0
duration     9
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [14]:
data[data['duration'].isnull()]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
6,56.0,management,married,tertiary,no,830,yes,yes,unknown,6,may,NaN,1,-1,0,unknown,yes
19,49.0,admin.,divorced,secondary,no,168,yes,yes,unknown,8,may,NaN,1,-1,0,unknown,yes
48,53.0,technician,divorced,primary,no,1443,yes,no,unknown,14,may,NaN,1,-1,0,unknown,yes
73,41.0,blue-collar,married,primary,no,2453,yes,no,unknown,15,may,NaN,1,-1,0,unknown,yes
94,43.0,services,divorced,secondary,no,1040,yes,no,unknown,19,may,NaN,3,-1,0,unknown,yes
110,31.0,blue-collar,single,primary,no,216,yes,no,unknown,21,may,NaN,1,-1,0,unknown,yes
121,32.0,technician,single,tertiary,no,4665,yes,no,unknown,21,may,NaN,2,-1,0,unknown,yes
144,31.0,management,divorced,tertiary,no,1145,yes,no,unknown,26,may,NaN,4,-1,0,unknown,yes
167,45.0,unemployed,divorced,secondary,no,3354,yes,no,unknown,29,may,NaN,1,-1,0,unknown,yes

In [15]:
data['duration'].sort_values(ascending=False).head()

271     3881.0
7198    3284.0
883     3253.0
358     3183.0
4364    3102.0
Name: duration, dtype: float64

In [16]:
durationx= data.duration.median()

In [17]:
print(durationx)

255.0

In [18]:
data.duration.fillna(durationx,inplace=True)

In [19]:
data.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      7
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [20]:
data['contact'].unique()

array(['unknown', nan, 'cellular', 'telephone'], dtype=object)

In [21]:
contactx = data.contact.mode()[0]

In [22]:
print(contactx)

cellular

In [23]:
data.contact.fillna(contactx,inplace=True)

In [24]:
data.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64